.navigation-container{
    height: 100vh;
    position: fixed;
    padding: 0 1em;
    z-index: 1000;

}

.navigation-container__menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.75em 0;
    gap: 0.5em;
}

.navigation-container__menuItem__link{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding: 0.55em 0.65em;
    border-radius: 9999px;
    outline: none;
    
}

.navigation-container__menuItem__link.navlink--hover:hover, 
.navigation-container__menuItem__link.navlink--hover:focus,
.navigation-container__userContainer.userProfile.navlink--hover:hover,
.navigation-container__userContainer.userProfile.navlink--hover:focus{
    background-color: var(--light-dark);
    cursor: pointer;
}


.navigation-container__menuItem__icon{
    font-size: 1.7rem;
    transform: translateY(2px);
    margin-right: 1em;
}

.navigation-container__menuItem__link.logo{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-container__menuItem__link.logo .navigation-container__menuItem__icon{
    margin-right: 0 !important;
    transform: translateY(4px);
    font-size: 2.5rem;
    padding: 0;
}


.navigation-container__menuItem__link.logo:hover, .navigation-container__menuItem__link.logo:focus{
    background-color: var(--primary-dark);
}

.navigation-container__menu__btn{
    margin-top: 0.75em;
}



.navigation-container__menu__btn .featherIcon{
    font-size: 1.5rem;
}

.navigation-container__userMain{
    position: absolute;
    bottom: 2em;
    
}

.navigation-container__userContainer{
    display: flex;
    padding: 0.55em 0.65em;
    border-radius: 9999px;
    color: #fff;
    text-decoration: none;
    outline: none;
    gap: 0.65em;
    align-items: center;
    cursor: default;
    /* background: #000; */
    
    
}

.navigation-container__userContainer__userDetails{
    display: flex;
    flex-direction: column;
}

.navigation-container__userContainer__userIcon{
   font-size: 2rem;
   line-height: 0;
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   background: #ccd6dd;
   color: var(--primary-dark);
   overflow: hidden;

}

.navigation-container__userContainer__userIcon img{
    width: 100%;
}

.navigation-container__userContainer__more{
    font-size: 1.7rem;
    margin-left: 0.25em;
    line-height: 0;
}

.navigation-container__userContainer > div{
    
    transform: translateY(1px);
}



.navigation-container__userContainer__userName{
    font-weight: 500;
}

.navigation-container__userContainer__userID{
    color: #808080;
}

.navigation-container__menu__btn{
    padding: 1em 6em;
    font-weight: bold;
    background: var(--primary-clr);
    color: #fff;
    border-radius: 9999px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
}

.navigation-container__modal{
    position: absolute;
    background-color: #000;
    z-index: 5000;
    top: -15px;
    transform: translateY(-100%);
    /* overflow: hidden; */
    border-radius: 20px;
    padding-bottom: 20px;
    
}

.navigation-container__modal::before{
    position: absolute;
    display: block;
    content: '';
    width: 15px;
    height: 15px;
    background: #000;
    bottom: 0;
    transform: rotate(-45deg) translate(-50%, 0);
    left: 50%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.45);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.45);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.45);
}

.navigation-container__modal::after{
    position: absolute;
    display: block;
    content: '';
    width: 35px;
    height: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
}

.navigation-container__modal .userHeader{
    border-radius: 0;
    padding: 1.5em 1em 1em;
    border-bottom: 1px solid #151515;
}

.navigation-container__modal__list{
    list-style: none;
}

.navigation-container__modal__listLink{
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #fff;
}

.navigation-container__modal__listLink:hover{
    background: var(--light-dark);
}



@media screen and (max-height:760px) {
    .navigation-container .nav-Bookmarks, .navigation-container .nav-Lists{
        display: none;
    }

    .navigation-container__userMain{
        position: relative;
        margin-top: 2.5em;
    }
}

@media screen and (max-width:1100px) {
    .navigation-container__menuItem__text, 
    .navigation-container__userContainer.userProfile .navigation-container__userContainer__userDetails,
    .navigation-container__userContainer.userProfile .navigation-container__userContainer__more{
        display: none !important;
    }

    .navigation-container__menuItem__icon {
        margin-right: 0;
    }

    .navigation-container__menu__btn{
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        position: relative;
        
    }

    .navigation-container__menu__btn .featherIcon{
        position: relative;
        
    }

    .navigation-container__menu__btn::before{
        position: absolute;
        content: '+';
        font-weight: normal;
        font-size: 1.2rem;
        
        top: 20%;
        left: 20%;
        color: #fff;
        z-index: 1;
    }

    .navigation-container__modal::before{
        left: 28px;
    }

    .navigation-container__modal::after{
        left: 15px;
        transform: translateX(0);
        border-radius: 15px;
    }
}
