.aside-container{
    padding: 0 1em 1em;
    position: absolute;
    width: min(350px, 100%);
    display: flex;
    flex-direction: column;
    gap: 1em;
    right: 0;
    height: 100%;
}

/*====================================*/
/*      search-twitter-container      */
/*====================================*/
.search-twitter-container{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
    background: #000;
    z-index: 5000;
}

.search-twitter-container__input-container{
    width: 100%;
}

.search-twitter-container__input-container__input{
    height: 40px;
    width: 100%;
    outline: none;
    border: 1px solid var(--light-dark);
    border-radius: 9999px;
    background-color: var(--light-dark);
    color: #fff !important;
    font-size: 1.1rem;
    padding: 0 2em 0 2.5em;
}

.search-twitter-container__input-container .icon{
    position: absolute;
    font-size: 1.15rem;
}

.search-twitter-container__input-container__serchIcon{
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    outline: none;
    border: none;
    color: gray;
}

.search-twitter-container__input-container__closeIcon{
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: var(--primary-clr);
}

.search--focus--modal{
    border-color: var(--primary-clr);
    color: var(--primary-clr);
    background-color: #000;
}

.search-twitter-container__input-container__modal{
    padding: 1em;
    background: #000;
    border-radius: 10px;
    position: absolute;
    top: 48px;
    width: 100%;
    min-height: 100px;
}

.search-twitter-container__input-container__modal p{
    display: flex;
    align-items: center;
    gap: 0.5em;
    
}

/*====================================*/
/*      WhatHappning-container         */
/*====================================*/
.WhatHappning-container, .WhoToFollow-container{
    background: var(--card-clr);
    border-radius: 15px;
    overflow: hidden;
}

.WhatHappning-container header, .WhoToFollow-container header{
    padding: 1em;
    letter-spacing: 1px;
}

.WhatHappning-container__topList,.WhoToFollow-container__followList{
    list-style: none;
}

.WhatHappning-container__topItemLink ,.WhoToFollow-container__followLink{
    display: flex;
    width: 100%;
    padding: 1em;
    text-decoration: none;
    color: #fff;
    gap:0.5em;
}

.WhatHappning-container__container__topItemLink{
    align-items: flex-start;
}

.WhatHappning-container__topItemLink:hover, .WhoToFollow-container__followLink:hover{
    background-color: var(--light-dark);
    
}



.WhatHappning-container__thumb{
   width: 70px;
   height: 70px;
   flex-shrink: 0;
   overflow: hidden;
   border-radius: 15px;
}

.WhatHappning-container__thumb img{
    height: 100%;
    object-fit: cover;
    object-position: -20px;
}


.WhatHappning-container__title{
    margin: 0.5rem 0;
    font-weight:500;
    letter-spacing: 0.5px;
    line-height: 1.3;
    
}

.WhatHappning-container .grayText{
    color: gray;
    font-size: 0.85rem;
    opacity: 0.85;
}

.WhatHappning-container .trandingLink{
    color: var(--primary-clr);
    font-size: 0.85rem;
    opacity: 0.85;
    margin-right: 0.5em;
}

.WhatHappning-container .trandingLink:hover{
    text-decoration: underline;
}



/*====================================*/
/*      WhoToFollow-container         */
/*====================================*/


.WhoToFollow-container__profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: gray;
}

.WhoToFollow-container__profile img{
    width: 100%;
}

.WhoToFollow-container__profileName{
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.WhoToFollow-container__profileName .verified{
    line-height: 0;
}

.WhoToFollow-container__profileName:hover{
    text-decoration: underline;
}

.WhoToFollow-container__profileUserID{
    color: gray;
    font-size: 0.95rem;
    margin-top: 1.5px;
}

.WhoToFollow-container__followBtn{
    align-self: center;
    margin-left: auto;
    padding: 0.75em 1.5em;
    border-radius: 9999px;
    border: none;
    font-weight: bold;
    color: var(--light-dark);
    cursor: pointer;
}


/*====================================*/
/*      Footer-container              */
/*====================================*/
.Footer-container{
    padding: 0 15px;
    font-size: 0.85rem;
    color: gray;
}

.Footer-container__links{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.Footer-container__links a{
    text-decoration: none;
    color: gray;
    opacity: 0.75;
}

.Footer-container__links a:hover{
    text-decoration: underline;
}   

/*====================================*/
/*           Media Query              */
/*====================================*/

@media screen and (max-width:1200px) {
    .aside-container{
        width: min(325px, 100%);
    }
}

@media screen and (max-width:900px) {
    .aside-container{
        display: none;
    }
}